<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospitalsmp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".actividades.MenuFarmaceuticoActivity"></activity>
        <activity android:name=".actividades.MenuEnfermeroActivity" />
        <activity android:name=".actividades.MenuMedicoActivity" />
        <activity android:name=".actividades.MenuPacienteActivity" />
        <activity android:name=".actividades.LoginFarmaceuticoActivity" />
        <activity android:name=".actividades.LoginEnfermeroActivity" />
        <activity android:name=".actividades.LoginMedicoActivity" />
        <activity android:name=".actividades.LoginPacienteActivity" />
        <activity android:name=".actividades.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>